.h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.2;
}

.small {
	font-size: 0.9em;
}

.small-caps {
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	font-variant: small-caps;
}
