@value primary, dark, light from 'Stylesheets/colors';

.wrapper {
	composes: .wrapper from 'Stylesheets/shared';
	margin-top: 2em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 5px solid primary;
	padding: 2em;

	@media (min-width: 50em) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 1em;

	@media (min-width: 50em) {
		flex: 100%;
	}
}

.address {
	@media (min-width: 50em) {
		flex: 0 0 25%;
	}
}

.min_price,
.max_price {
	@media (min-width: 50em) {
		flex: 0 0 20%;
	}
}

.input {
	composes: input from 'Stylesheets/input';
}

.label {
	composes: label from 'Stylesheets/input';
}

.select {
	composes: select from 'Stylesheets/input';
}

.submit:focus {
	outline: -webkit-focus-ring-color auto 5px !important;
	outline-color: -webkit-focus-ring-color !important;
	outline-style: auto !important;
	outline-width: 5px !important;
}

